
.navbar {
  background-color: transparent;
  border: none;

  margin-bottom: 0;
  padding: 2em 0;
}

.navbar-brand {
	color: #fec503 !important;
	font-family: 'Kaushan Script', cursive;
	font-size: 28px;
}

.navbar-right a {
	color: #fff !important;
	font-size: 15px;
	font-family: 'Montserrat';
}
.navbar-right a:hover {
	color: #e8c92e !important;
}

header {
background-image:url('images/header-bg.jpg');
background-repeat: no-repeat;
background-attachment: scroll;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
text-align: center;
color: #fff;
height: 800px;
width: 100%;

}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
header, .intro-text {
	padding-top: 150px;
	padding-bottom: 80px;
}
header .intro-text .intro_welcome {
	font-style: italic;
	font-size: 3vw;
	line-height: 22px;
	margin-bottom: 40px;
	font-family: 'Droid Serif';
}
header .intro-text .intro-heading {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 700;
	font-size: 6vw;
	line-height: 75px;
	margin-bottom: 50px;
}
.btn-lg {
	color: #fff;
	background-color: #fed136;
	border-color: #fed136;
	border-radius: 3px;
	font-size: 27px;
	font-weight: bold;
	padding: 15px 20px;
}
.btn-lg:hover {
	background-color: #e8c92e;
	color: #fff;
	border-color: #e8c92e;

	}

.fa-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}
.text-primary {
	color: #fed136;
}
.fa-stack-2x {
	font-size: 2em;
}
.services {
	padding: 150px 0;
}
.services h2.section-heading {
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 15px;

}
.services h3.section-subheading {
	font-size: 16px;
	text-transform: none;
	font-weight: 400;
	margin-bottom: 75px;
}
.service-heading {
	font-weight: bold;
}
.text-muted {
	color: #777;
}
p {
	font-size: 14px;
	line-height: 1.75;
}


/*ABOUT*/
#about .row {
  margin: 2em 0;
}

#about img {
  border-radius: 50%;
  border: 7px solid #F1F1F1;
}

#about h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 40px;
}
#about h3 {
  font-family: 'Droid Serif';
  font-style: italic;
  font-size: 16px;
  color: #777;
}

#about h4 {
  font-family: 'Montserrat';
  font-weight: bold;
}

#about p {
  font-family: 'Roboto Slab', serif;
  color: #777;
}
#about .yellow {
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #FED136;
  border: 7px solid #F1F1F1;
  display: flex;
  align-items: center;
}
#about .yellow h4 {
  text-align: center;
  color: #fff;
}
/*END ABOUT*/
